@some-background-color: #334;
@some-foreground-color: #AAC;
@accent-one: #459;
@accent-two: #99A;
@accent-three: #304;
 
* {
  background-color: @some-background-color;
  color: @some-foreground-color;
}

.painted {
  background-color: @accent-one;
  color: @accent-two;
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @accent-three;

  * {
    border: 1px dashed @accent-two;
  }
}

body {
  .painted;

  font-family: 'Josefin'; 
   
  display: flex;
  div {
    :first-child {
      border: 1px solid @accent-two;
    }

    border: 1px solid @accent-one;
    padding: 1em;
  }
}
