@some-background-color: #334;
@some-foreground-color: #AAC;
@accent-one: #459;
@accent-two: #99A;
 
* {
  background-color: @some-background-color;
  color: @some-foreground-color;
}

.painted {
  background-color: @accent-one;
  color: @accent-two;
}

body {
  .painted;

  font-family: 'Josefin Sans'; 
   
  display: flex;
  div {
    :first-child {
      border: 1px solid @accent-two;
    }

    border: 1px solid @accent-one;
    padding: 1em;
  }
}
