
@font-face {
    font-family: 'AlexBrush';
    src:  url('../fonts/alex-brush-v8-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: cursive;
  }

.tigerLabel {
    color: #C50;
    text-align: center;
    font-family: 'AlexBrush'; 
}