
@font-face {
    font-family: 'Quicksand';
    src:  url('../fonts/Quicksand/Quicksand-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: inherit;
  }

@font-face {
    font-family: 'Josefin Sans';
    src:  url('../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: inherit;
  }

.logoLabel {
    color: #A7FFFF;
    text-align: center;
    font-family: 'Quicksand'; 
}